body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #01234d;
  overflow: hidden;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: #013069;
  border-radius: 15px;
  width: 90%;
  max-width: 500px;
  max-height: 98vh;
  display: flex;
  flex-direction: column;
}

#display {
  width: 100%;
  padding: 15px;
  font-size: 4rem;
  text-align: right;
  border: none;
  background-color: #034595;
  color: white;
  box-sizing: border-box;
  flex-shrink: 0;
  border-radius: 15px 15px 0 0;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(60px, 1fr)) 70px;
  padding: 10px 10px 20px 10px;
  gap: 10px;
  overflow: hidden;
  direction: rtl;
}

button {
  border: none;
  background-color: hsl(213, 100%, 40%);
  border-radius: 50%;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

button:hover {
  background-color: hsl(213, 100%, 50%);
}
button:active {
  background-color: hsl(213, 100%, 60%);
}

button.operator {
  background-color: hsl(199, 100%, 50%);
}
button.operator:hover {
  background-color: hsl(199, 100%, 60%);
}
button.operator:active {
  background-color: hsl(199, 100%, 70%);
}

button#clearButton {
  background-color: hsl(0, 60%, 50%);
}
button#clearButton:hover {
  background-color: hsl(0, 60%, 55%);
}
button#clearButton:active {
  background-color: hsl(0, 60%, 65%);
}
button.equal {
  grid-column: span 4;
  width: 100%;
  aspect-ratio: auto;
  border-radius: 1rem;
  height: 70px;
}